<h1 class="aboutL">
  Patch.
</h1>

<div class="aboutT">
  A social community to cultivate ideas and explore design.

</div>

<div class="flexbox">
    <div class="aboutP">
        <span class="closed-box"><%=link_to image_tag('logo.png', class: "aboutI"), root_path%></span>
        <span class="open-box"><%=link_to image_tag('logoHover.png', class: "aboutI"), root_path%></span>
    </div>
</div>
