.open-box {
  display: none;
}

.logo {
  max-width: 50px;
  max-height: 50px;
}

body {
  font-family: 'Raleway', sans-serif;
	font-weight: 100;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.yield {
  width: 80%;
  padding-top: 6rem;
  margin-left: 7rem;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid black;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: black;
}

.button:hover{
  background-color: #50A7C7;
  color: white;
}


.horizontal {
  width: 100%;
  border-bottom: 1px solid black;
}
header {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("wet_snow");

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: fixed;
  top: 0px;
	width: 100%;
	padding: 0.75rem 0;
	border-bottom: 1px solid black;
	#logo {
		float: left;
		font-size: 1.75rem;
		a {
			color: black;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
    display: inline-block;
		float: right;
    margin-top: 10px;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: black;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}

.notice, .alert {
  color: #50A7C7;
}


@import 'home.css.scss';
@import 'posts.css.scss';
