

#post_show {
	margin-top: -20px;
	height: 100%;
	// border-left: 1px solid black;
	width: 100%;
	padding-top: 2rem;
	// padding-left: 4rem;
	// margin-left: 3.3rem;
	.post_image_description {
		width: 60%;
		float: left;
		margin-right: 5%;
		font-size: 10px;
	}

.description {
	// color: red;
	// background-color: red;
}



	.post_data {
		// margin-top: -1rem;
		margin-left: 3rem;
		width: 25%;
		float: left;

		.button {
			width: 100%;
			display: inline-block;
			padding: 0.75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #969696;

			&:hover {
				color: white;
				border: 1px solid black;
			}
		}

		.data {
			margin-top: 200px;
			width: 100%;
			display: block;
			padding: 0.75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}

	h1 {
		margin: 0;
		color: #333233;
	}

	img {
		width: 100%;
		border-radius: 0.3rem;
	}

	.username {
		color: #969696;
		margin: 0 0 1.5rem;
	}

	.description {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #969696;
	}
}
